telegram_transcription_workflow.json
{
  "name": "telegram automation",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "260a02ca-9cd2-4fe6-ac90-870b650ea935",
      "name": "Telegram Trigger",
      "webhookId": "cb02d52c-075a-4f19-86ec-71917de6196e",
      "credentials": {
        "telegramApi": {
          "id": "k9v4GBpZaOZ040hR",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=reply for the following .\ncontent: {{ $json.message.text }}.\nif the content is like question answer, then answer based on the question or reply for the message .",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        -128
      ],
      "id": "75357807-59a6-40b6-ac9b-2207b6a7329d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        736,
        48
      ],
      "id": "f6b7b5de-77fb-432e-9e52-b84176b544e9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "IOXhU0nVOqMUeAhw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        64
      ],
      "id": "3ec9fcaf-072a-4b7a-a86e-ac3a945647cf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        -128
      ],
      "id": "609c834d-b755-4ffe-9770-aac505fd4c32",
      "name": "Send a text message",
      "webhookId": "c15c738c-0b91-4954-a184-97d009cd13f3",
      "credentials": {
        "telegramApi": {
          "id": "k9v4GBpZaOZ040hR",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d344f3ee-d5c9-42ea-8d43-f708067f0166",
              "leftValue": "={{ $json.message.audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "e2578ef3-4f1e-41de-9455-760b8e9286c2",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.audio.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        256
      ],
      "id": "cfdeac69-a0a6-4cd2-a1fa-67f645b58363",
      "name": "Get a file",
      "webhookId": "cc469f06-2dc2-4763-a00c-481c26a2cbda",
      "credentials": {
        "telegramApi": {
          "id": "k9v4GBpZaOZ040hR",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "7b0f84f5860641c092d59e70c3b1ab6c"
            },
            {
              "name": "content-type",
              "value": "application//json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        256
      ],
      "id": "e3d0a46d-12e4-4fe0-873c-3c4a7081bd2f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "7b0f84f5860641c092d59e70c3b1ab6c"
            },
            {
              "name": "content-type",
              "value": "application//json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.upload_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        256
      ],
      "id": "bc100671-350b-4ac5-acd4-4407e5023114",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "7b0f84f5860641c092d59e70c3b1ab6c"
            },
            {
              "name": "content-type",
              "value": "application//json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.upload_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        256
      ],
      "id": "fc98df1a-d30b-4e6a-bf18-4c3bfad19c46",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are an expert summarizer. I will provide you with a block of text. \nYour task is to create a clear and concise summary that captures **all the main points, important details, and logical flow** without skipping critical information. \n\n\nInput text:\n{{ $json.text }}\nOutput:\na summary of the audio content given , without explaining briefly about it and giving a shorter explanation like precise writing.if the content is not sufficent to be summarised , then return the content entirely without any change and its context alone.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1872,
        272
      ],
      "id": "dc3f639d-066a-424e-af0a-c052f8fb6182",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1824,
        512
      ],
      "id": "b13abc51-2b92-4c80-a6c4-0e786c1cd930",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "IOXhU0nVOqMUeAhw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1936,
        480
      ],
      "id": "1a0beb5b-a9fe-49d4-8b66-e45e80f114d6",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        272
      ],
      "id": "33f4912e-8334-45d0-82b8-d2b7aa58bef1",
      "name": "Send a text message1",
      "webhookId": "f95e62d5-69a6-4f62-b6c5-02db3265f49e",
      "credentials": {
        "telegramApi": {
          "id": "k9v4GBpZaOZ040hR",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1264,
        256
      ],
      "id": "b48bc251-c680-44a3-be69-b33a6a6eda17",
      "name": "Wait",
      "webhookId": "4086a3a2-0bdc-430e-a0ff-b64c16ccb3e4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cab7b254-bad0-407e-ae36-0f3d11632d6d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        256
      ],
      "id": "cf45500b-4272-4895-8913-8bcec130a89e",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a83ae776-b307-4d2f-b0df-30beaea1d55c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fbf11a7768f5e6dbf514a2ec4f9fdea0d3d4f907d6999842c82f127facb9df91"
  },
  "id": "PQjPvl26T7nujox5",
  "tags": []
}
